html,
body {
    margin: 0;
    padding: 0;
    background-image: url("../assets/sb-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/* Centers all content in this container */
.container, .center {
    width: 40em;
    margin-left: auto;
    margin-right: auto;
}


.collapse {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 600px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
}

    .active, .collapse:hover {
        background-color: #ccc;
    }

#name {
    width: 350px;
}

.btn {
    background-color: #a936f1;
}

    .btn:hover {
        background-color: #BC62F4;
    }


.fa-custom {
    color: #a936f1;
}
.content {
    max-height: 0;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    max-height: 0px;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.senario-name-container {
    margin-top: 25px;
}

#select {
    margin-top: 50px;
    width: 350px;
}

#close {
    border-radius: 5px;
    margin-left: 475px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.created-senario-container {
    position: absolute;
    top: 0;
    right: 0;
    background-color: RGB(24,24,24);
    width: 350px;
    height: 100%;
}

    .created-senario-container h6 {
        text-align: center;
    }

.item {
    text-align: center;
}

td.item:hover {
    background-color: RGB(34,34,34);
    cursor: pointer;
}

textarea {
    width: 429px;
    background-color: whitesmoke;
    border: none;
    margin: 0px;
    height: 215px;
}



.add-option-button {
    margin-top: 10px;
}

.option-container {
    background-color: grey;
    width: 500px;
    height: 500px;
    margin-top: 15px;
}

    .option-container > input {
        text-align: center;
    }

.configuration {
    position: absolute;
    top: 17px;
    margin-left: 775px;
}

    .configuration i {
        cursor: pointer;
    }

.linked-senario {
    margin-top: 30px;
}

.close {
    position: relative;
    margin-top: 320px;
    margin-left: 410px;
}

.add-to-tree {
    position: absolute;
    bottom: 25px;
    right: 385px;
}
